.hero {
  position: relative;
  text-align: center;
  /*background: linear-gradient(60deg, #e1306c 0%, rgba(0,172,193,1) 100%);*/
  .hero-img {
    // background-color: linear-gradient(
    //   rgba(220, 220, 220, 0.45),
    //   rgba(255, 255, 0, 0.45)
    // );
    img {
      position: relative;
      max-width: 100%;
      opacity: 0.82;
    }
  }
  #container {
    color: white;
    text-shadow: black 2px 2px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    left: 18%;
    bottom: 45%;
    display: flex;
    position: absolute;
    z-index: 1;
    text-align: center;
  }

  #flip {
    height: 50px;
    width: 100%;
    overflow: hidden;
  }

  #flip > div > div {
    color: white;
    // padding: 4px 12px;
    height: 45px;
    width: 100%;
    margin-bottom: 45px;
    display: inline-block;
  }

  #flip div:first-child {
    animation: show 3s linear 4;
  }

  #flip div div {
    background: #42c58a;
    width: 100%;
  }
  #flip div:first-child div {
    background: #4ec7f3;
  }
  #flip div:last-child div {
    background: #dc143c;
  }

  p {
    // position: fixed;
    max-width: 100%;
    // bottom: 30px;
    font-size: 12px;
    color: #999;
    // margin-top: 200px;
  }
}

//   .cta2 {
//     z-index: 10;
//     position: absolute;
//     bottom: 40%;
//     width: 100%;
//     a {
//       font-family: "Satisfy", cursive;
//       text-shadow: rgb(233, 232, 228) 1px 0 10px;

//       text-align: center;
//       background: black;
//       text-decoration: none;
//       font-size: 30px;
//       color: white;
//     }
//   }
// }

.flex {
  /*Flexbox for containers*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*to erase bottom-border*/
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 34px;
    font-weight: bold;
  }
}

// our mission
.mission {
  padding-top: 2%;
  text-align: center;

  h2 {
    padding: 1%;
  }
  p {
    padding: 1%;
  }
}

.about-us {
  border-top: 1px solid black;
  padding-top: 2%;
  h2 {
    text-align: center;
    padding: 1%;
  }
  p {
    padding: 1%;
  }

  .team-member {
    h3 {
      font-weight: bold;
      font-size: 20px;
    }
    p {
      padding: 2%;
    }
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    .member {
      padding: 2%;
      text-align: center;
    }
    .member:first-child {
      grid-area: 1 / 1 / 2 / 2;
    }
    .member:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    .member:nth-child(3) {
      grid-area: 1 / 3 / 2 / 4;
    }
    .member:nth-child(4) {
      grid-area: 2 / 1 / 3 / 2;
    }
    .member:nth-child(5) {
      grid-area: 2 / 2 / 3 / 3;
    }
    .member-photo {
      border: 1px solid black;
      border-radius: 20px;
      max-width: 50%;
    }
  }
}
