@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* button motion */
@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}
@keyframes border {
  0% {
    clip-path: polygon(
      0% 100%,
      4px 100%,
      4px 4px,
      216px 4px,
      216px 66px,
      4px 66px,
      4px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    clip-path: polygon(
      0% 100%,
      4px 100%,
      4px 4px,
      216px 4px,
      216px 66px,
      216px 66px,
      216px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    clip-path: polygon(
      0% 100%,
      4px 100%,
      4px 4px,
      216px 4px,
      216px 4px,
      216px 4px,
      216px 4px,
      216px 4px,
      100% 0%,
      0% 0%
    );
  }
  75% {
    clip-path: polygon(
      0% 100%,
      4px 100%,
      4px 4px,
      4px 4px,
      4px 4px,
      4px 4px,
      4px 4px,
      4px 4px,
      4px 0%,
      0% 0%
    );
  }
  100% {
    clip-path: polygon(
      0% 100%,
      4px 100%,
      4px 100%,
      4px 100%,
      4px 100%,
      4px 100%,
      4px 100%,
      4px 100%,
      4px 100%,
      0% 100%
    );
  }
}
@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
